{% extends 'base.html.twig' %}

{% block title %}Créer un compte
{% endblock %}

{% block body %}
	<div class="container mt-5">
		{% for flashError in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flashError }}</div>
		{% endfor %}
		{% for message in app.flashes('register') %}
			<div class="alert alert-dismissible alert-success">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<p class="mb-0">{{ message }}</p>
			</div>
		{% endfor %}

		<h1>Créer un compte</h1>

		{{ form_start(registrationForm) }}
		{{ form_widget(registrationForm) }}
		{# <p>
									Nos
									<a href="http://google.com/" target="_blank">Conditions d'Utilisation</a>
									et
									<a href="http://google.com/" target="_blank">Politique de Confidentialité</a>.
								</p> #}
		<button type="submit" class="btn btn-primary">Créer le compte</button>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
