{% extends 'base.html.twig' %}

{% block title %}SymfoBlog - About
{% endblock %}

{% block body %}
	<div class="container mt-5">

		<a class="btn btn-primary btn-lg mb-3" href="{{ path('home') }}">Retour à la page d'accueil</a>

		<h1>About Page</h1>

		<div class="my-3" style="margin: auto; background-image: url('https://via.placeholder.com/640x480.png/00ff77?text=dolorem'); background-position: center; background-size: cover; width: 80%; height: 300px;"></div>

		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, inventore modi! Impedit itaque nisi fugit, animi quidem sint. Saepe nostrum eum aspernatur eos ipsa dicta laboriosam, vitae laborum qui nulla cumque totam earum atque eaque hic laudantium dolorem? Repudiandae fugiat eum voluptatem dignissimos doloremque esse. Aliquam optio, quam, nisi magnam sed aspernatur veritatis quo vero esse temporibus ipsa voluptates et laudantium sint tempora, ut ipsum labore dolores harum? Veniam, aspernatur. Ratione exercitationem ut neque mollitia. Odit placeat praesentium delectus dicta quam adipisci ratione quidem! Quas eveniet repellat deleniti eius maiores beatae in, sint ullam, maxime laboriosam inventore eos. Cupiditate, delectus!</p>

		<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis accusantium nihil itaque repellat dolorem facere commodi. Quidem similique doloremque odit enim aperiam asperiores quia magnam ratione tempora quasi quibusdam, totam accusantium ut deserunt corrupti facere qui odio nulla ipsam ipsum, consectetur voluptatibus? Quo expedita repudiandae earum odio ratione dolores, commodi recusandae iste sed inventore rerum saepe, dolorem soluta architecto similique reprehenderit alias temporibus aspernatur itaque minus. Laudantium sit cupiditate nesciunt animi molestiae autem incidunt repellendus reprehenderit ipsum tempore, culpa minima corporis eos facere doloremque debitis sunt nemo odit ex cumque. Et perspiciatis vel cupiditate labore quis maiores, a omnis animi mollitia culpa aperiam voluptatibus ipsum illo accusantium ipsa temporibus exercitationem? Harum provident aperiam cum dicta, optio earum suscipit corporis facere repudiandae pariatur quia commodi blanditiis sit voluptates incidunt. Neque modi eaque non ullam autem facere excepturi ipsa omnis quaerat molestiae sapiente rem, possimus corporis alias nulla consequuntur expedita saepe animi et, voluptatibus aspernatur nihil. Quod delectus amet sint reprehenderit necessitatibus commodi placeat dignissimos, harum at mollitia error dicta dolorum id minima minus illo nihil, fuga atque, quibusdam praesentium! Quasi quo sunt deserunt aliquam amet ad aspernatur, fugiat in ducimus! Doloremque vel perspiciatis ipsum velit quaerat unde magni ducimus obcaecati laboriosam!</p>

		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quae, optio accusamus dolor molestias impedit, quibusdam incidunt dolorem deserunt dolorum ex alias, animi voluptatibus. Natus sint voluptatem perspiciatis dolorem iste.</p>
	</div>
{% endblock %}
