{% extends 'base.html.twig' %}

{% block title %}SymfoBlog - Article
{% endblock %}

{% block body %}
	<div class="container mt-5">

		{% for message in app.flashes('comment') %}
			{% if '!' in message %}
				<div class="alert alert-dismissible alert-success">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<h4 class="alert-heading">Succès</h4>
					<p class="mb-0">{{ message }}</p>
				</div>
			{% elseif '...' in message %}
				<div class="alert alert-dismissible alert-info">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<h4 class="alert-heading">Attention</h4>
					<p class="mb-0">{{ message }}</p>
				</div>
			{% endif %}
		{% endfor %}

		{% for message in app.flashes('like') %}
			<div class="alert alert-dismissible alert-success">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<p class="mb-0">{{ message }}</p>
			</div>
		{% endfor %}
		{% for message in app.flashes('dislike') %}
			<div class="alert alert-dismissible alert-secondary">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<p class="mb-0">{{ message }}</p>
			</div>
		{% endfor %}

		<a class="btn btn-primary btn-lg mb-3" href="{{ path('home') }}">Retour sur tous les articles</a>

		<div class="card mb-3">
			<div class="card-header d-flex justify-content-between">
				<div class="d-flex flex-column">
					<h6 class="text-muted">
						Par
						{{ article.author.pseudo }}
					</h6>

					<h6 class="text-muted">
						Publié à
						{{ article.date|date("H:m:s") }}, le
						{{ article.date|date("d/m/Y") }}
					</h6>

					<h3 class="mb-0">{{ article.title }}</h3>
				</div>

				<div class="d-flex flex-column align-self-center">
					<h6>Categorie :</h6>
					<span class="badge badge-primary">{{ article.category.name }}</span>
				</div>
			</div>

			<div class="card-body">
				<h5 class="card-title">{{ article.subheading }}</h5>
			</div>

			<div class="m-auto" style="background-image: url('{{ asset(article.image) }}'); background-position: center; background-size: cover; width: 70%; height: 300px;"></div>

			<div class="card-body">
				<p class="card-text">{{ article.content }}</p>
			</div>

			<div class="card-footer d-flex justify-content-around">
				<div>
					<a href="{{ path('app_logout') }}">
						<div class="m-auto" style="background-image: url({{ asset('assets/images/share.png') }}); background-position: center; background-size: cover; width: 16px; height: 16px;"></div>
					</a>
					<small class="text-muted">Partager</small>
				</div>

				<div>
					{# {% for like in app.user.likes %}
											{% if like in article.likes %}
												<a href="{{ path('dislike', {id: article.id, title: article.title}) }}">
													<div class="m-auto" style="background-image: url({{ asset('assets/images/heart.png') }}); background-position: center; background-size: cover; width: 16px; height: 16px;"></div>
												</a>
											{% else %}
												<a href="{{ path('like', {id: article.id, title: article.title}) }}">
													<div class="m-auto" style="background-image: url({{ asset('assets/images/heart-empty.png') }}); background-position: center; background-size: cover; width: 16px; height: 16px;"></div>
												</a>
											{% endif %}
										{% endfor %}
										<small class="text-muted">Aimé par
											{{ article.likes|length }}
											personnes</small> #}
				</div>

			</div>
		</div>

		{% if app.user %}
			<div class="card text-white bg-primary mb-3">
				<h3 class="card-header">Ecrire un commentaire</h3>
				<div class="card-body">
					<h5>
						{{ app.user.pseudo }}
						<small>({{ app.user.email }})</small>
					</h5>
					{{ form_start(commentForm) }}
					{{ form_widget(commentForm) }}
					<button type="submit" class="btn btn-outline-light">Envoyer</button>
					{{ form_end(commentForm) }}
				</div>
			</div>
		{% endif %}

		<ul class="list-group">
			<li class="list-group-item d-flex justify-content-between align-items-center active">
				<h3>Commentaires</h3>
				<span class="badge badge-light badge-pill">{{ comments|length }}</span>
			</li>
			{% for comment in comments %}
				{% set comment = comment %}
				{% include "@components/comment.html.twig" %}
			{% endfor %}
		</ul>
	</div>
{% endblock %}
