{% extends 'base.html.twig' %}

{% block title %}SymfoBlog - Contact
{% endblock %}

{% block body %}
	<div class="container mt-5">
		{% for message in app.flashes('contact') %}
			<div class="alert alert-dismissible alert-success">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<p class="mb-0">{{ message }}</p>
			</div>
		{% endfor %}

		<h1>Contact</h1>

		<h6 class="text-muted my-5">
			Besoin de nous contacter pour un projet, une suggestion ou autre ?<br>
		</h6>

		{{ form_start(contactForm) }}
		{{ form_widget(contactForm) }}
		<button type="submit" class="btn btn-primary">Envoyer</button>
		{{ form_end(contactForm) }}
	</div>
{% endblock %}
