{% extends 'base.html.twig' %}

{% block title %}SymfoBlog - Home
{% endblock %}

{% block body %}
	<div class="container mt-5 text-black">
		{% for message in app.flashes('article') %}
			<div class="alert alert-dismissible alert-success">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<p class="mb-0">{{ message }}</p>
			</div>
		{% endfor %}
		{{ form_start(articleForm) }}
		{{ form_widget(articleForm) }}
		<button type="submit" class="btn btn-primary">Créer</button>
		{{ form_end(articleForm) }}
	</div>
{% endblock %}
