{% extends 'base.html.twig' %}

{% block title %}SymfoBlog - Dashboard
{% endblock %}

{% block body %}
	<div class="m-3 d-flex justify-content-between">
		<div class="card bg-primary col-2 p-3 m-1">
			{% if is_granted('ROLE_ADMIN') %}
				<div class="card-body d-flex flex-column">
					<a class="btn btn-outline-light mb-3" href="{{ path('dashboard_admin', {tab: 'home'}) }}">
						<div class="text-white">Accueil</div>
					</a>
					<a class="btn btn-outline-light mb-3" href="{{ path('dashboard_admin', {tab: 'articles'}) }}">
						<div class="text-white">Articles</div>
					</a>
					<a class="btn btn-outline-light mb-3" href="{{ path('dashboard_admin', {tab: 'comments'}) }}">
						<div class="text-white">Gérer les commentaires</div>
					</a>
				</div>
			{% else %}
				<div class="card-body d-flex flex-column">
					<a class="btn btn-outline-light mb-3" href="{{ path('dashboard', {tab: 'home'}) }}">
						<div class="text-white">Accueil</div>
					</a>
					<a class="btn btn-outline-light mb-3" href="{{ path('dashboard', {tab: 'details'}) }}">
						<div class="text-white">Informations personnelles</div>
					</a>
					<a class="btn btn-outline-light mb-3" href="{{ path('dashboard', {tab: 'liked'}) }}">
						<div class="text-white">Articles aimés</div>
					</a>
					<a class="btn btn-outline-light mb-3" href="{{ path('dashboard', {tab: 'shared'}) }}">
						<div class="text-white">Articles partagés</div>
					</a>
					<a class="btn btn-outline-light mb-3" href="{{ path('dashboard', {tab: 'commented'}) }}">
						<div class="text-white">Articles commentés</div>
					</a>
				</div>
			{% endif %}
		</div>
		<div class="card bg-primary col-10 p-3 m-1">
			{% include tab %}
		</div>
	</div>
{% endblock %}
