{% extends 'base.html.twig' %}

{% block title %}SymfoBlog - Home
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="d-lg-flex justify-content-between flex-wrap mb-5">
			<a class="nav-link dropdown-toggle btn btn-primary mx-2" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Trier</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#">Par Auteur (Ascendant)</a>
				<a class="dropdown-item" href="#">Par Auteur (Descendant)</a>
				<a class="dropdown-item" href="#">Par Date (Ascendant)</a>
				<a class="dropdown-item" href="#">Par Date (Descendant)</a>
				<a class="dropdown-item" href="#">Par Titre (Ascendant)</a>
				<a class="dropdown-item" href="#">Par Titre (Descendant)</a>
			</div>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Rechercher">
				<button class="btn btn-primary my-2 my-sm-0" type="submit">Rechercher</button>
			</form>
		</div>
		{% for article in articles %}
			{% set article = article %}
			{% include "@components/article_simplified.html.twig" %}
		{% endfor %}
	</div>
{% endblock %}
