{% extends 'base.html.twig' %}

{% block title %}SymfoBlog - Home
{% endblock %}

{% block body %}
	<div class="container mt-5 text-black">
		{% for message in app.flashes('update_article') %}
			<div class="alert alert-dismissible alert-success">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<p class="mb-0">{{ message }}</p>
			</div>
		{% endfor %}
		{{ form_start(updateForm) }}
		{{ form_widget(updateForm) }}
		<a href="{{ path('dashboard_admin', { tab: 'articles' }) }}" class="btn btn-primary">Annuler</a>
		<a href="{{ path('delete_article', {id: id}) }}" class="btn btn-secondary">Supprimer</a>
		<button type="submit" class="btn btn-primary">Modifier</button>
		{{ form_end(updateForm) }}
	</div>
{% endblock %}
