<div class="card-body text-white">
	<h4 class="card-title">Articles commentés</h4>
	<div class="card-body">
		<div class="d-flex flex-column">

			<form class="form-inline text-center w-100 justify-content-center mb-3">
				<input class="form-control w-100 mb-2" type="text">
				<button class="btn btn-outline-dark w-100" type="submit">Rechercher</button>
			</form>

			<div class="d-flex flex-wrap">
				{% for article in commentArticles|reverse %}
					<div class="card bg-light text-dark m-1">
						<div class="card-header d-flex justify-content-between">{{ article.title }}</div>
						<div class="card-body px-3 pt-1 pb-3">
							<div class="badge badge-primary">{{ article.category.name }}</div>
							<div class="mx-auto my-2" style="background-image: url('{{ asset(article.image) }}'); background-position: center; background-size: cover; width: 70%; height: 80px;"></div>
							<div class="card-text">
								Author :
								{{ article.author.pseudo }}<br>
								Publié à
								{{ article.date|date("H:m:s") }}, le
								{{ article.date|date("d/m/Y") }}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>

		</div>
	</div>
</div>
