<div class="card-body text-white">
	<h4 class="card-title">Informations Personnelles</h4>
	<div class="card-body">
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button type="submit" class="btn btn-outline-light">Modifier</button>
		{{ form_end(form) }}
	</div>
</div>
