<div class="card-body text-white">
	<h4 class="card-title">Accueil</h4>
	<div class="card-body">
		<div class="d-flex flex-column">
			<h6 class="my-3">Derniers articles aimés</h6>

			<div class="d-flex">
				{% for article in likeArticles[:5]|reverse %}
					<div class="card bg-light text-dark m-1">
						<div class="card-header d-flex justify-content-between">{{ article.title }}</div>
						<div class="card-body px-3 pt-1 pb-3">
							<div class="badge badge-primary">{{ article.category.name }}</div>
							<div class="mx-auto my-2" style="background-image: url('{{ asset(article.image) }}'); background-position: center; background-size: cover; width: 70%; height: 80px;"></div>
							<div class="card-text">
								Author :
								{{ article.author.pseudo }}<br>
								Publié à
								{{ article.date|date("H:m:s") }}, le
								{{ article.date|date("d/m/Y") }}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>

			<h6 class="my-3">Derniers articles partagés</h6>

			<div class="d-flex">
				{% for article in shareArticles[:5]|reverse %}
					<div class="card bg-light text-dark m-1">
						<div class="card-header d-flex justify-content-between">{{ article.title }}</div>
						<div class="card-body px-3 pt-1 pb-3">
							<div class="badge badge-primary">{{ article.category.name }}</div>
							<div class="mx-auto my-2" style="background-image: url('{{ asset(article.image) }}'); background-position: center; background-size: cover; width: 70%; height: 80px;"></div>
							<div class="card-text">
								Author :
								{{ article.author.pseudo }}<br>
								Publié à
								{{ article.date|date("H:m:s") }}, le
								{{ article.date|date("d/m/Y") }}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>

			<h6 class="my-3">Derniers articles commentés</h6>

			<div class="d-flex">
				{% for article in commentArticles[:5]|reverse %}
					<div class="card bg-light text-dark m-1">
						<div class="card-header d-flex justify-content-between">{{ article.title }}</div>
						<div class="card-body px-3 pt-1 pb-3">
							<div class="badge badge-primary">{{ article.category.name }}</div>
							<div class="mx-auto my-2" style="background-image: url('{{ asset(article.image) }}'); background-position: center; background-size: cover; width: 70%; height: 80px;"></div>
							<div class="card-text">
								Author :
								{{ article.author.pseudo }}<br>
								Publié à
								{{ article.date|date("H:m:s") }}, le
								{{ article.date|date("d/m/Y") }}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>

		</div>
	</div>
</div>
