<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}SymfoBlog
			{% endblock %}
		</title>
		{% block head_css %}
			<link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
		{% endblock %}
		{% block head_js %}
			<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		{% endblock %}
	</head>
	<body>
		{% include "header.html.twig" %}
		{% block body %}
			<div class="container mt-5">
				<div class="alert alert-dismissible alert-warning">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<h4 class="alert-heading">Oh snap!</h4>
					<p class="mb-0">Someone forgot to write some content here...
						<a href="contact" class="alert-link">Feel free to yell at us!</a>.</p>
				</div>
			</div>
		{% endblock %}
		{% include "footer.html.twig" %}
	</body>
</html>
