<div class="jumbotron d-flex flex-column mt-5">
	<div class="d-flex justify-content-around">
		<div class="d-flex justify-content-between">
			<a href="http://facebook.com/" target="_blank">
				<div class="my-auto mx-md-5 mx-3" style="background-image: url({{ asset('assets/images/facebook.png') }}); background-position: center; background-size: cover; width: 50px; height: 50px;"></div>
			</a>
			<a href="http://twitter.com/" target="_blank">
				<div class="my-auto mx-md-5 mx-3" style="background-image: url({{ asset('assets/images/twitter.png') }}); background-position: center; background-size: cover; width: 50px; height: 50px;"></div>
			</a>
			<a href="http://linkedin.com/" target="_blank">
				<div class="my-auto mx-md-5 mx-3" style="background-image: url({{ asset('assets/images/linkedin.png') }}); background-position: center; background-size: cover; width: 50px; height: 50px;"></div>
			</a>
		</div>
		<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
			{% if app.user %}
				<div class="card-header">Newsletter</div>
				<div class="form-group card-body">
					<label class="col-form-label card-title" for="newsletter">S'inscrire à la Newsletter :</label>
					<button type="button" class="btn btn-light btn-lg btn-block">S'inscrire</button>
				</div>
			{% else %}
				<div class="card-header">Newsletter</div>
				<div class="form-group card-body">
					<label class="col-form-label card-title" for="newsletter">Entrez votre adresse email :</label>
					<input type="text" class="form-control card-text" placeholder="Adresse Email" id="newsletter">
				</div>
			{% endif %}
		</div>
	</div>
	<div class="text-center mt-3">
		<div>Icônes Facebook, Twitter & LinkedIn conçues par
			<a href="https://www.freepik.com" title="Freepik">Freepik</a>
			sur
			<a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a>
		</div>
		<div>Icônes Like, Edit & Delete conçues par
			<a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a>
			sur
			<a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
		</div>
	</div>
</div>
