<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href="{{ path('home') }}">SymfoBlog</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{{ path('home') }}">Accueil
					<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('about') }}">A propos</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('contact') }}">Contact</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('app_register') }}">Créer un compte</a>
			</li>
		</ul>
		{% if app.user %}
			<div class="mr-3 text-light">
				{% if is_granted('ROLE_ADMIN') %}
					<a class="nav-link text-light" href="{{ path('dashboard_admin', {tab: 'home'}) }}">{{ app.user.pseudo }}</a>
				{% else %}
					<a class="nav-link text-light" href="{{ path('dashboard', {tab: 'home'}) }}">{{ app.user.pseudo }}</a>
				{% endif %}
			</div>
			<a class="btn btn-outline-light" href="{{ path('app_logout') }}">Déconnexion</a>
		{% else %}
			<a class="btn btn-outline-light" href="{{ path('app_login') }}">Connexion</a>
		{% endif %}
	</div>
</nav>
