<div class="card mb-3">
	<div class="card-header d-flex justify-content-between">
		<div class="d-flex flex-column text-left">
			<h6 class="text-muted">
				Par
				{{ article.author.pseudo }}
			</h6>
			<h6 class="text-muted">
				Publié à
				{{ article.date|date("H:m:s") }}, le
				{{ article.date|date("d/m/Y") }}
			</h6>
			<a href="{{ path('article', {id: article.id, title: article.title|replace({' ': '-', "'": '-'})|lower }) }}">
				<h3 class="mb-0">{{ article.title }}</h3>
			</a>
		</div>
		<div class="d-flex flex-column align-self-center">
			<h6>Categorie :</h6>
			<span class="badge badge-primary">{{ article.category.name }}</span>
		</div>
	</div>
	<div class="mx-auto mt-3" style="background-image: url('{{ asset(article.image) }}'); background-position: center; background-size: cover; width: 70%; height: 300px;"></div>
	<div class="card-body d-flex flex-column">
		<p class="card-text">{{ article.content|slice(0, 500) ~ '...'}}</p>
		<a class="text-muted align-self-center btn btn-light" href="{{ path('article', {id: article.id, title: article.title|replace({' ': '-'})|lower }) }}">En savoir plus</a>
	</div>
	<div class="card-footer d-flex justify-content-around">
		<div>
			<a href="{{ path('app_logout') }}">
				<div class="m-auto" style="background-image: url({{ asset('assets/images/share.png') }}); background-position: center; background-size: cover; width: 16px; height: 16px;"></div>
			</a>
			<small class="text-muted">Partager</small>
		</div>
		<div>
			{# {% for like in app.user.likes %}
							{% if app.user in article.likes %}
								<a href="{{ path('dislike', {id: article.id, title: article.title}) }}">
									<div class="m-auto" style="background-image: url({{ asset('assets/images/heart.png') }}); background-position: center; background-size: cover; width: 16px; height: 16px;"></div>
								</a>
							{% else %}
								<a href="{{ path('like', {id: article.id, title: article.title}) }}">
									<div class="m-auto" style="background-image: url({{ asset('assets/images/heart-empty.png') }}); background-position: center; background-size: cover; width: 16px; height: 16px;"></div>
								</a>
							{% endif %}
						{% endfor %}
						<small class="text-muted">Aimé par
							{{ article.likes|length }}
							personnes</small> #}
		</div>
	</div>
</div>
