<li class="list-group-item d-flex flex-column justify-content-between align-items-center">
	<div class="d-flex align-self-start">
		<h5>
			{{ comment.author.pseudo }}
			<small class="text-muted">({{ comment.author.email }})</small>
		</h5>
	</div>
	<h6 class="align-self-start">{{ comment.content }}</h6>
</li>
