<div class="card-body text-white">
	<h4 class="card-title">Articles</h4>
	<div class="card-body">
		<div class="d-flex flex-column">

			<a class="btn btn-outline-light mb-3" href="{{ path('create_article') }}">
				<div class="text-white">Ajouter un article</div>
			</a>

			<a class="btn btn-outline-light mb-3" href="{{ path('dashboard_admin', {tab: 'comments'}) }}">
				<div class="text-white">Gérer les commentaires</div>
			</a>

			<h6 class="my-3">Vos articles</h6>

			<div class="d-lg-flex justify-content-between flex-wrap">

				<div class="d-flex">
					<a class="nav-link dropdown-toggle btn btn-primary mx-2" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Trier</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Par Auteur (Ascendant)</a>
						<a class="dropdown-item" href="#">Par Auteur (Descendant)</a>
						<a class="dropdown-item" href="#">Par Date (Ascendant)</a>
						<a class="dropdown-item" href="#">Par Date (Descendant)</a>
						<a class="dropdown-item" href="#">Par Titre (Ascendant)</a>
						<a class="dropdown-item" href="#">Par Titre (Descendant)</a>
					</div>
					<button class="btn btn-outline-light">Delete</button>
				</div>

				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="text" placeholder="Rechercher">
					<button class="btn btn-primary my-2 my-sm-0" type="submit">Rechercher</button>
				</form>
			</div>

			<div class="d-flex flex-wrap my-3">
				{% for article in articles %}
					<div class="card bg-light text-dark m-1">

						<div class="card-header d-flex justify-content-between">
							{{ article.title }}
							<input class="align-self-center" id="{{ article.id }}" type="checkbox" name="article_selection" value={{ article.id }}>
						</div>

						<div class="card-body px-3 pt-1 pb-3">
							<div class="badge badge-primary">{{ article.category.name }}</div>
							<div class="mx-auto my-2" style="background-image: url('{{ asset(article.image) }}'); background-position: center; background-size: cover; width: 70%; height: 80px;"></div>
							<div class="card-text">
								Author :
								{{ article.author.pseudo }}<br>
								Publié à
								{{ article.date|date("H:m:s") }}, le
								{{ article.date|date("d/m/Y") }}
							</div>
						</div>

						<div class="card-footer d-flex justify-content-around">
							<div>
								<a href="{{ path('update_article', {id: article.id}) }}">
									<div class="m-auto" style="background-image: url({{ asset('assets/images/edit.png') }}); background-position: center; background-size: cover; width: 16px; height: 16px;"></div>
								</a>
								<small class="text-muted">Modifier</small>
							</div>
							<div>
								<a href="{{ path('delete_article', {id: article.id}) }}">
									<div class="m-auto" style="background-image: url({{ asset('assets/images/delete.png') }}); background-position: center; background-size: cover; width: 16px; height: 16px;"></div>
								</a>
								<small class="text-muted">Supprimer</small>
							</div>
						</div>

					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
