<div class="card-body">
	<h4 class="card-title text-white">Gérer les commentaires</h4>
	<p class="card-body">
		{% for comment in comments %}
			<a class="align-self-start" href="{{ path('article', {id: comment.article.id, title: comment.article.title }) }}">
				{% set comment = comment %}
				{% include "@components/comment.html.twig" %}
			</a>
		{% endfor %}
	</p>
</div>
